
# Ignore the virtual environment directory
/.venv
/venv

# dealing with KiCAD backups and history files
/KiCAD/aviationAirportLEDMap/.history
/KiCAD/aviationAirportLEDMap/aviationAirportLEDMap-backups
*.bak

__pycache__/
*.pyc
__pycache__